@charset "UTF-8";
/* ===============================================
# グローバル
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# mixin（プロパティや値をセットにしてまとめる）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# mixin（プロパティや値をセットにしてまとめる）
=============================================== */
/* ===============================================
# キーフレーム（classにする）
=============================================== */
/* ===============================================
# フォント
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap");
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
* {
  box-sizing: border-box;
  font-family: "Noto Serif JP", serif;
  font-style: 1rem;
  font-weight: 500;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

body {
  min-width: 375px;
  width: 100%;
  height: 100%;
  position: relative;
}

main {
  background: #ffffff;
  overflow: hidden;
}

ul {
  list-style: none;
}

p, h2, h3, h4, a {
  font-size: 1rem;
  font-weight: 500;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #3b4043;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
.container {
  width: 100%;
  padding: 0 20px;
}

/* ===============================================
# ページ
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# mixin（プロパティや値をセットにしてまとめる）
=============================================== */
/* ===============================================
# パーツ
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# mixin（プロパティや値をセットにしてまとめる）
=============================================== */
/* ===============================================
# header
=============================================== */
#header {
  width: 100%;
  height: 135px;
}
#header .header--inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header--inner .logo {
  min-width: 400px;
  width: 30%;
}
#header .header--inner .logo a {
  display: flex;
  align-items: center;
}
#header .header--inner .logo a div {
  max-width: 56px;
  max-height: 56px;
}
#header .header--inner .logo a p {
  font-size: 1.625rem;
  line-height: 1.2;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  color: #7fd352;
  font-weight: bold;
}

/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# mixin（プロパティや値をセットにしてまとめる）
=============================================== */
/* ===============================================
# footer
=============================================== */
#footer {
  width: 100%;
  height: 300px;
  background-image: url("/images/footer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#footer .footer--inner {
  width: 100%;
  background-color: rgba(127, 211, 82, 0.7);
}

/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# mixin（プロパティや値をセットにしてまとめる）
=============================================== */
/* ===============================================
# ハンバーガーメニュー
=============================================== */
.menu {
  width: 135px;
  height: 135px;
  padding: 35px;
  border-radius: 0 0 0 30px;
  background-color: #ff803c;
}
.menu.is-open {
  background-color: rgba(255, 255, 255, 0);
}
.menu.is-open span:nth-of-type(1) {
  transform: translateY(6px) rotate(-45deg);
  top: 35%;
}
.menu.is-open span:nth-of-type(2) {
  opacity: 0;
}
.menu.is-open span:nth-of-type(3) {
  transform: translateY(-6px) rotate(45deg);
  top: 62%;
}

.menu--inner {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;
}
.menu--inner span {
  width: 100%;
  height: 3px;
  display: inline-block;
  background: #ffffff;
  position: absolute;
  transition: all 0.4s;
  border-radius: 5px;
}
.menu--inner span:nth-of-type(1) {
  top: 20%;
}
.menu--inner span:nth-of-type(2) {
  top: 50%;
}
.menu--inner span:nth-of-type(3) {
  top: 80%;
}

#header.is-active {
  height: 100%;
  background-image: url(../images/footer_bg.png);
  background-color: #ff803c;
  position: relative;
}
#header.is-active .header--inner {
  height: 80%;
  flex-direction: column-reverse;
  align-items: flex-start;
}
#header.is-active .logo {
  margin-left: 100px;
}
#header.is-active .logo a p {
  color: #ffffff;
}
#header.is-active .menu {
  margin-left: auto;
}
#header.is-active .menu .menu--inner span {
  background: #7fd352;
}
#header.is-active .hide {
  opacity: 1;
  height: auto;
  position: absolute;
  top: 100px;
  left: 100px;
}

#main.is-active, #footer.is-active {
  display: none;
}

/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# mixin（プロパティや値をセットにしてまとめる）
=============================================== */
/* ===============================================
# メニュー
=============================================== */
#header .hide {
  opacity: 0;
  width: 60%;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#header .hide section {
  width: 45%;
}
#header .hide section h2 {
  font-size: 1.75rem;
  font-weight: bold;
}
#header .hide section h2, #header .hide section a, #header .hide section p {
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  margin-bottom: 1rem;
}
#header .hide section a {
  color: #ffffff;
  display: inline-block;
}
#header .hide section h2,
#header .hide section .hide--member--inner {
  color: #0d9200;
}
#header .hide .hide--about a,
#header .hide .hide--contact a {
  display: block;
}
#header .hide .hide--contact .line::after {
  content: "";
  background-image: url(../images/icon/line_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 5px;
}
#header .hide .hide--member {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 15px;
}
#header .hide .hide--member--inner p:nth-of-type(2) {
  margin: 0;
}

/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 関数（function = 関数）
=============================================== */
/* ===============================================
# 変数（variables = 変数）
=============================================== */
/* ===============================================
# mixin（プロパティや値をセットにしてまとめる）
=============================================== */
/* ===============================================
# 矢印
=============================================== */
#header .hide--member .arrow {
  position: relative;
  left: 140px;
}
#header .hide--member .arrow span {
  display: inline-block;
  height: 2px;
  background: #7fd352;
  position: absolute;
}
#header .hide--member .arrow span:first-child {
  width: 1rem;
  right: 5px;
  transform: translateX(7px) translateY(-5px) rotate(45deg);
}
#header .hide--member .arrow span:last-child {
  width: 3rem;
  right: 0;
}/*# sourceMappingURL=style.css.map */