@import "../global/function";
@import "../global/variables";
@import "../global/mixin";
/* ===============================================
# ボタン
=============================================== */
#footer{
  .footer_btn{

    a{
      display: flex;
    }

    .btn{
      width: 280px;
      height: 98px;
      border-radius: 0 0 15px 15px;
      text-align: center;
      background-image: url("../images/footer_bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;

      p{
        font-size:rem(20);
        color:$white;
        line-height: 98px;
      }
    }

    .btn-orange{
      background-color:$orange;
    }
    .btn-red{
      background-color:$red;
    }
  }
}

// footerの上
.contact{
  .border{
    border: solid 6px $green;
    background-color: rgba(255,255,255,0);
    width: 376px;
    height: 180px;
    position: absolute;
    top: 0;
    left: -10px;
  }
  .border,
  .contact_btn{
    border-radius: 40px 0;
  }
  .contact_btn{
    width: 376px;
    height: 187px;
    background-color:$white;
    display: flex;
    align-items: center;
    box-shadow: 7px 7px 7px 0px rgba(145, 145, 145, 0.38);
    position: relative;

    p{
      width: 75%;
      line-height: 1.2;
      color:$green;
      font-weight: bold;
      font-size:rem(26);
      text-align: center;
    }
  }
}

