.contact--outer{
  width: 100%;
  background-color:$bg-color;
  padding:100px 0;
  margin-bottom: -176px;

  .contact{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact--inner{
      width: 100%;
      display: flex;
      gap: 40px;
      margin-bottom: 100px;
    }

    h3{
      font-size:$fs-medium;
      font-weight:bold;
      font-family:$font-router;
    }

    .contact--tel{
      width: 100%;
      background-color:$green;
      padding: 30px 40px;
      border-radius: 20px;
      position: relative;
      z-index: 2;

      h4{
        text-align: center;
      }

      h4,
      .tel{
        color: $white;
        font-weight: bold;
      }

      h4{
        font-size:rem(30);
        margin-bottom: 1rem;
      }

      .contact--tel--inner{
        display: flex;
        justify-content: center;
        align-items: center;

        a{
          &::before{
            content:"";
            display: inline-block;
            width: 30px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: middle;
          }
        }

        .tel{
          font-size:$fs-small;
          display: flex;
          align-items: center;
          &::before{
            background-image: url(../images/icon/tel-icon.png);
          }

          span{
            font-size:$fs-normal;
          }
        }

        .mail{
          color:$pink;
          background-color: $white;
          border-radius:20px;
          padding: 5px 15px 0 30px;
          box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
          &::before{
            background-image: url(../images/icon/mail-icon.png);
            margin: 5px 8px 0 0;
          }
        }
      }
    }
  }
}