@import "../global/function";
@import "../global/variables";
@import "../global/mixin";
/* ===============================================
# footer
=============================================== */
.wood{
  max-width: 125px;
  margin-left: 150px;
  margin-bottom: -3px;
  position: relative;
  z-index: 1;
}

#footer{
  width: 100%;
  background-color:$green;
  @include bg-image;

  .footer--inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer--inner--left{
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 50px;

    .footer_logo{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 56px;

      div{
        max-width: 28px;
        max-height: 28px;
      }

      p{
        width: 90%;
        font-size: rem(18);
        font-weight: bold;
        color:$white;
      }

      a{
        display: inline-block;
        color:$white;
        margin-left:1rem;
      }
    }

    .footer_nav{
      margin-bottom: 50px;

      ul{
        width: 260px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        li{
          width: 43%;
          &:nth-of-type(5){
            width: 46%;
          }

          a{
            color:$white;
          }
        }
      }
    }
  }

  small{
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}