@import "../global/function";
@import "../global/variables";
@import "../global/mixin";

/* ===============================================
# ハンバーガーメニュー
=============================================== */
.menu{
  width: 135px;
  height: 135px;
  padding: 35px;
  border-radius: 0 0 0 30px;
  background-color:$orange;

  &.is-open{
    background-color:rgba(255,255,255,0);

    span{
      &:nth-of-type(1){
        transform: translateY(6px) rotate(-45deg);
        top: 35%;
      }
      &:nth-of-type(2){
        opacity: 0;
      }
      &:nth-of-type(3){
        transform: translateY(-6px) rotate(45deg);
        top: 62%;
      }
    }
  }
}

.menu--inner{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;

  span{
    width: 100%;
    height: 3px;
    display: inline-block;
    background: $white;
    position: absolute;
    transition: all 0.4s;
    border-radius: 5px;

    &:nth-of-type(1){
      top:20%;
    }
    &:nth-of-type(2){
      top:50%;
    }
    &:nth-of-type(3){
      top:80%;
    }
  }
}

#header{
  &.is-active{
    height: 100%;
    background-image: url(../images/footer_bg.png);
    background-color:$orange;
    position: relative;

    .header--inner{
      height: 80%;
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .logo{
      margin-left: 100px;

      a{
        p{
          color:$white;
        }
      }
    }

    .menu{
      margin-left: auto;

      .menu--inner{
        span{
          background:$green;
        }
      }
    }

    .hide{
      opacity: 1;
      height: auto;
      position: absolute;
      top: 100px;
      left: 100px;
    }
  }
}

#main,#footer{
  &.is-active{
    display: none;
  }
}