@import "../global/variables";

/* ===============================================
# ページャー
=============================================== */
.pagination{
  text-align: center;
  margin-top: 50px;

  .current{// 現在いるページ
    background-color: $green;
    color: $white;
  }
}

.pager,
.next,
.prev{
  margin-right: 20px;
  border: solid 1px $green;
  padding: 20px;
  border-radius: 10px;
  background-color:$white;
  color: $green;

  &:hover{
    background-color:$green;
    color: $white;
  }
}