@import "../global/function";
@import "../global/variables";
@import "../global/mixin";
/* ===============================================
# 活動日記一覧
=============================================== */
#diary{
  .diary--inner{

    .list--item{
      a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        border-bottom: solid 2px $green;
        color: $green;

        .year,
        .time,
        .text{
          font-size:rem(26);
        }

        .year,
        .time{
          padding-right: 1rem;
        }

        .text{
          flex-grow: 1;
        }
      }
    }
  }
}