@import "../global/function";
@import "../global/variables";
@import "../global/mixin";
/* ===============================================
# たからばこ一覧
=============================================== */
#treasure{
  .treasure--inner{
    padding-top: 44px;
  }

  // ハッシュタグ
  .tags--outer{
    border-bottom:dotted 1px $black;
  }

  .tags{
    background-color:$green-3;
    border-radius: 15px;
    padding: 50px 30px;
    margin-bottom: 2rem;

    h3{
      color:$white;
      font-size:rem(26);
      font-weight: bold;
      margin-bottom: 1rem;
    }

    ul{
      display: flex;
      flex-wrap: wrap;

      li{
        margin-right: 3rem;
        margin-bottom: 1rem;

        a{
          color: $white;
        }
      }
    }
  }

  // ループ
  .list--item{
    border-bottom: solid 2px $green;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;

    &:first-child{
      .text_tag{
        color: $green;
      }
    }

    .list--item--link{
      width: 40%;
      display: flex;
    }

    a{
      align-items: center;
    }

    .text-title,.text-time{
      font-size:rem(25);
    }

    .text-time{
      margin-right: 5rem;
    }

    .text-title{
      width: 20%;
      flex:1;
    }

    .text_tag{
      display: flex;
      flex: 1;

      a{
        span{
          color: $green;
        }
      }

      .space{
        padding-left: rem(16);
      }
    }

    .text{
      color: $green;
    }
  }
}