@import "../global/function";
@import "../global/variables";
@import "../global/mixin";
/* ===============================================
# たからばこ一覧
=============================================== */
#treasure{
  .treasure--inner{
    padding-top: 44px;
  }

  // 検索ボックス
  .searcBox{
    margin-bottom: 50px;
    input{
      &:first-of-type{
        border: 1px solid #000;
      }
    }
  }
  .search_box{
    height: 55px;
    border-radius: 30px;
    border:solid 2px $green;
    margin-bottom: 1rem;
  }

  // 検索キーワード
  .tags--outer{
    border-bottom:dotted 1px $black;
  }

  .tags{
    background-color:$green-3;
    border-radius: 15px;
    padding: 50px 30px;
    margin-bottom: 2rem;

    h3{
      color:$white;
      font-size:rem(26);
      font-weight: bold;
      margin-bottom: 1rem;
    }

    ul{
      display: flex;
      flex-wrap: wrap;

      li{
        color: $white;
        margin-right: 3rem;
        margin-bottom: 1rem;
      }
    }
  }

  // ループ
  .list--item{
    border-bottom: solid 2px $green;
    padding: 1.5rem 0;

    &:first-child{

      .text_tag{
        color: $green;
      }
    }

    a{
      display: flex;
      align-items: center;
    }

    .text-title,.text-time{
      font-size:rem(25);
    }

    .text-time{
      margin-right: 5rem;
    }

    .text-title{
      width: 20%;
    }

    .text_tag{
      display: flex;
      flex: 1;

      .space{
        padding-left: rem(16);
      }
    }

    .text{
      color: $green;
    }
  }
}