@import "../global/function";
@import "../global/variables";
@import "../global/mixin";
/* ===============================================
# タグ検索結果
=============================================== */
#tag{
  .tag--inner{
    padding-top: 44px;
  }

  // ループ
  .list--item{
    border-bottom: solid 2px $green;
    padding: 1.5rem 0;

    &:first-child{

      .text_tag{
        color: $green;
      }
    }

    .list--item--link{
      width: 40%;
      display: flex;
    }

    a{
      display: flex;
      align-items: center;
    }

    .text-title,.text-time{
      font-size:rem(25);
    }

    .text-time{
      margin-right: 5rem;
    }

    .text-title{
      width: 20%;
    }

    .text_tag{
      display: flex;
      flex: 1;

      a{
        color: $green;
      }

      .space{
        padding-left: rem(16);
      }
    }

    .text{
      color: $green;
    }
  }
}